* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background-color: #008274;
}

body>header {
    height: 7rem;
    border: 5px solid #008274;
    border-bottom: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body>header>img {
    height: 110%;
    padding: 10px;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

body>header>p {
    font-size: 3rem;
}

body>main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

body>main>section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
    width: calc((100% - 6rem) / 3 - 2px);
}


body>main>section>.tijd-datum>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4.5rem;
    padding: 20px;
    gap: 2rem;
}

body>main>section>.tijd-datum>section>.tijd-text {
    background: none;
    color: black;
}

body>main>section>.tijd-datum>section>.tijd {
    font-size: 6rem;
}

body>main>section>.weer {
    height: 54rem;
    width: 40rem;
    background-color: white;
    border: 2px solid black;
}

body>main>section>.buiten-temp>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
    gap: 2rem;
    font-size: 4.5rem;
}

body>main>section>.weer>.weersection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 38.4px);
}

body>main>section>.weer>.weersection>p {
    font-size: 4rem;
    margin: 0;
    padding-left: 10px;
    border-bottom: 1px solid black;
}

body>main>section>.weer>.weersection>.weer1 {
    padding-top: 1rem;
}

body>main>section>.weer>.weersection>.weer7 {
    border-bottom: none;
}

body>main>.gas-elec {
    height: 30rem;
    width: 100%;
    margin-left: 5.7rem;
    margin-right: 5.7rem;
    margin-bottom: 4rem;
    background-color: white;
    border: 2px solid black;
}

body>main>.gas-elec>section {
    height: 80%;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body>main>.gas-elec>section>canvas {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

body>main>section>.basic-box {
    height: 25rem;

    width: 100%;
    background-color: white;
    border: 2px solid black;
}

.box {
    margin-top: 4rem;
}

.box>p {
    font-size: 3rem;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
}