* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background-color: #008274;
}

body>header {
    height: 70px;
    border: 5px solid #008274;
    border-bottom: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body>header>img {
    height: 110%;
    padding: 10px;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

body>header>p {
    font-size: 3rem;
}

body>main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

body>main>section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
    width: calc((100% - 60px) / 3 - 2px);
}

body>main>section>.tijd-datum>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4.5rem;
    padding: 20px;
    gap: 20px;
}

body>main>section>.tijd-datum>section>.tijd-text {
    background: none;
    color: black;
}

body>main>section>.tijd-datum>section>.tijd {
    font-size: 6rem;
}

body>main>section>.zon-opkomst>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
}

body>main>section>.zon-opkomst>section>p {
    font-size: 4rem;
}

body>main>section>.weer {
    height: 540px;
    width: 400px;
    background-color: white;
    border: 2px solid black;
}

body>main>section>.buiten-temp>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
    gap: 20px;
    font-size: 4rem;
}

body>main>section>.binnen-temp>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
    gap: 20px;
    font-size: 4rem;
}

body>main>section>.weer>.weersection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 38.4px);
}

body>main>section>.weer>.weersection>p {
    font-size: 4rem;
    margin: 0;
    padding-left: 10px;
    border-bottom: 1px solid black;
}

body>main>section>.weer>.weersection>.weer1 {
    padding-top: 10px;
}

body>main>section>.weer>.weersection>.weer7 {
    border-bottom: none;
}

body>main>.gas-elec {
    height: 300px;
    width: 100%;
    margin-left: 57px;
    margin-right: 57px;
    margin-bottom: 40px;
    background-color: white;
    border: 2px solid black;
}

body>main>.gas-elec>section {
    height: 80%;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body>main>.gas-elec>section>canvas {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

body>main>section>.basic-box {
    height: 250px;

    width: 100%;
    background-color: white;
    border: 2px solid black;
}

.box {
    margin-top: 40px;
}

.box>p {
    font-size: 3rem;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
}

/* 1 rem is altijd 16px hier */
@media only screen and (max-width: 1245px) {
    body>main>section>.buiten-temp>section{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 1035px) {
    body>main {
        flex-direction: column;
        align-items: center;
    }

    body>main>.gas-elec {
        margin: 64px 0;
        width: 90vw;
    }

    body>main>section{
        width: 90vw;
        padding: 0;
    }

    body>main>section>.weer{
        width: 90vw;
    }

    article{
        width: 90vw;
    }

    body>main>section>.buiten-temp>section{
        font-size: 4rem;
    }

    body>main>section>.weer>section>p{
        display: flex;
        justify-content: center;
    }
}