* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background-color: #008274;
}

body>header {
    height: 7rem;
    border: 5px solid #008274;
    border-bottom: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body>header>img {
    height: 110%;
    padding: 1rem;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

body>header>p {
    font-size: 3rem;
}

body>main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start; /* changed from center to align top */
}

body>main>section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc((100% - 6rem) / 3 - 2px); /* adjusted width */
}

body>main>.weer {
    height: 25rem;
    width: 140rem; /* adjusted width */
    max-width: 141rem;
    background-color: white;
    border: 2px solid black;
}

body>main>section>.gas-elec {
    height: 54rem;
    width: 40rem;
    background-color: white;
    border: 2px solid black;
}

body>main>section>.basic-box {
    height: 25rem;
    width: 42rem;
    background-color: white;
    border: 2px solid black;
}

.box {
    margin-top: 4rem;
}

.box>p {
    font-size: 3rem;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 0.4rem;
}
